<link rel="stylesheet" href="/styles/style.css" />

<div class="top-div">
  <div>
    <h1>It's your journey. Find your artist.</h1>
  </div>
</div>

<div class="middle-div">
  <div>
    <form action="/artist-search" method="get">
      <input class="form" id="artist" name="artist" type="text" value="" placeholder="Type the name of the artist" />
      <button class="search-artist" type="submit">Search for the artist!</button>
    </form>
  </div>

</div>