<link rel="stylesheet" href="/styles/style.css">


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spotify: Artist Search</title>
</head>

<body>
  <nav>
    <div class="logo">
      <img class="spotify-logo" src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png"
        alt="">
    </div>
    <div class="items">
      <ul>
        <li><a href="/">Artist search</a></li>
        <li><a href="javascript:history.back()">Go back</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>


<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-content">
          <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png"
            alt="Spotify logo">
          <ul class="footer-links">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

</html>