body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2474dc;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
  }
  
  .spotify-logo {
    width: 100px;
  }
  
  .logo {
    padding: 10px;
  }
  
  .items {
    display: flex;
    justify-content: center;
  }
  
  nav {
    background-color: #060505;
    height: 50px;
    display: flex;
    justify-content: space-around;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
  }
  
  
  h1 {
    color: #ffffff;
    font-size: larger;
  }
  
  .top-div {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .top-div>div {}
  
  .form {
    color: black;
    background-color: #ffffff;
    border: 3px solid black;
    ;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4px;
  }
  
  .search-artist {
    color: #ffffff;
    order: 3px solid black;
    ;
    background-color: #060505;
    border-radius: 25px;
    padding: 10px;
    width: 200px;
    margin: 4px;
  }
  
  
  .middle-div {
    background-color: #ffffff;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
  }
  
  .middle-div>div {}
  
  input::value {
    text-align: center;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    /* padding: 30px 0; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
  
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-content img {
    width: 150px;
  }
  
  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .artist-topdiv {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .artists-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  }
  
  .each-artist-div {
    position: relative;
    width: 200px;
    max-width: 100%;
  
    overflow: hidden;
  }
  
  .artist-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
  .artist-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
  
  .artist-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    text-shadow: 2px 2px #333;
  }
  
  .view-albums-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  
  .view-albums-link:hover {
    text-decoration: underline;
    color: white;
  }
  
  .album-topdiv {
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .albums-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .each-album-div {
    position: relative;
    width: 200px;
    max-width: 100%;
    overflow: hidden;
    border: solid 2px white;
    border-radius: 25px;
    margin: 5px;
  }
  
  .album-img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }
  
  .album-img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
  
  
  .div1 {
    height: 30px;
    text-align: center;
    font-size: 10px;
  }
  
  .div2 {}
  
  .div3 {
    height: 50px;
    text-align: center;
  }
  
  
  .tracks-topdiv {
    text-align: center;
  }
  
  .tracks-div {
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .track-each-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  
  .track1 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-bottom: #fff 2px solid;
    color: #fff;
    margin-right: 10px;
    text-align: left;
    flex-basis: 70%;
  }
  
  .track2 {
    margin-left: 10px;
    text-align: right;
    flex-basis: 30%;
  }
  
  audio {
    display: block;
    margin-top: 10px;
  }
  
  
  a:hover {
    text-decoration: none;
  }